
html, body, div, span, h1, h2, h3, h4, h5, h6, p, article {
	/* margin: 0; */
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

img{
    width: 17px;
    height: 17px;
    border-radius: 50%;
 
/*  animation-duration: 100ms;*/
}

/* @keyframes slideRight {
    from {margin-left: -33px;}
    to {margin-left: 0;}
    }
    .slideRight {
        animation-name: slideRight;
    } */

main{
    position:relative;
}

html, body{
    height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}
/* 
main{
    width: 100vw;
} */

.bigDiv{
    display: flex;
    height: 15px;
    width: 70%;
}

.smallDiv{
    height: 15px;
    width: 15px;
}

#restart{
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}



@media (min-width: 768px){
    body{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .bigDiv{
        height: 30px;
        width: 100%;
    }

    .smallDiv{
        height: 30px;
        width: 30px;
    }

    img{
        width: 30px;
        height: 30px;
    }
}